@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60%;
    border-radius: 60px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    display: flex;
    align-items: center;
    width: 60%;
}

.nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 22px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 5px;
}

.background{
    background: rgb(0, 0, 0, 0.7) url('img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(202, 202, 202);
    max-width: 60%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 150%;
    display: block;
    margin: auto;
}

.text-big{
    font-family: 'Poppins', sans-serif;   
    font-weight: bolder;
    font-size: 50px;
    line-height: 100%;
}

.text-small{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 100%;
}

.btn{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid grey;
    color:  rgb(202, 202, 202);
    border-radius: 25px;
    cursor: pointer;
}

.action-btn{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid black;
    color:  black;
    border-radius: 25px;
    cursor: pointer;
}

.action-btn:hover{
    background-color: rgb(223, 223, 223);
    color: white;
}

.btn:hover{
    background-color: rgb(202, 202, 202);
    color: rgb(41, 41, 41);
}

.secRight{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}

.sol-para{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 30%;
    height: 50%;
}

.sol-para-txt{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 100%;
}

.sol-heading{
    display: flex;
    justify-content: center;
    margin: auto;
}
